body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navigation bar */
nav {
    display: flex;
}
/* Style buttons */
nav button {
    background-color: DodgerBlue; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 14px; 
    cursor: pointer;
  }

nav button:hover {
    background-color: RoyalBlue;
} 

/* Main container */
main {
    display: flex;
}

main div {
    height: 90vh;
    padding-left: 2%;
    padding-right: 2%;
}

.title{
    text-align: center;
}

/* Editor styles */
.editor{
    background-color: aquamarine;
    flex-basis: 50%;
}

textarea{
    min-height: 85%;
    width: 100%;
    border: 2px solid black;
}

textarea:focus, input:focus{
    outline: none;
}

/* Markdown preview styles */
.preview{
    background-color: lightgoldenrodyellow;
    flex-basis: 50%;
}

.markdown{
    background-color: white;
    height: 85%;
    border: 2px solid black;
}

/* Footer styles */
footer{
    height: 5%;
    text-align: center;
    font-weight: bold;
}